In [1]:
# Importing dependecies 
import pandas as pd

In [2]:
# Read the first CSV file into a dataframe
df1 = pd.read_csv("Bx_Books/Cleaned_BXBOOKS.csv", encoding='ISO-8859-1')

In [3]:
df1.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Publisher'],
      dtype='object')

In [4]:
# Read the second CSV file into a dataframe
df2 = pd.read_csv("Bx_Books/Cleaned_BX_Ratings.csv", encoding='ISO-8859-1')

In [5]:
df2.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [6]:
# Read the second CSV file into a dataframe
df3 = pd.read_csv("Bx_Books/Cleaned_BX-Users.csv", encoding='ISO-8859-1')

In [7]:
df3.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [ ]:
# Merge the two dataframes on a common column (e.g. "ISBN")
merged_df1 = pd.merge(df1, df2, on="ISBN")

In [9]:
merged_df1.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'User-ID', 'Book-Rating'],
      dtype='object')

In [10]:
# Merge the two dataframes on a common column (e.g. "User-ID")
BX_Books = pd.merge(merged_df1, df3, on="User-ID")

In [11]:
BX_Books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11400,0,"ottawa, ontario, canada",49.0
2,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,11400,9,"ottawa, ontario, canada",49.0
3,0151008116,Life of Pi,Yann Martel,2002,Harcourt,11400,6,"ottawa, ontario, canada",49.0
4,0671021001,She's Come Undone (Oprah's Book Club),Wally Lamb,1998,Pocket,11400,0,"ottawa, ontario, canada",49.0
...,...,...,...,...,...,...,...,...,...
753291,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,246590,6,"madrid, madrid, spain",20.0
753292,087004124X,Anthem,Ayn Rand,1966,Caxton Press,259589,8,"venice, florida, usa",19.0
753293,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,259591,8,"tioga, pennsylvania, usa",39.0
753294,8485900057,Rimas y leyendas (ClÃÂ¡sicos Fraile ; 3),Gustavo Adolfo BÃÂ©cquer,1981,Ediciones Fraile,259614,10,"madrid, madrid, spain",22.0
753295,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,259679,6,"grand prairie, texas, usa",27.0

In [12]:
# Check if there are any duplicates in the DataFrame
duplicates = BX_Books.duplicated().sum()

# Display the number of duplicates
print("Number of duplicates:", duplicates)

Number of duplicates: 0

In [14]:
# Verify that there are no more missing values
null = BX_Books.isna().sum().sum()
print("Number of missing values:", null)

Number of missing values: 0

In [17]:
# Get a list of the current column names
columns = list(BX_Books.columns)
columns

['ISBN',
 'Book-Title',
 'Book-Author',
 'Year-Of-Publication',
 'Publisher',
 'User-ID',
 'Book-Rating',
 'Location',
 'Age']

In [19]:
# Find the index of the column that you want to move
column_index = columns.index("User-ID")
column_index

5

In [20]:
# Remove the column from the list of columns
columns.pop(column_index)

'User-ID'

In [22]:
# Insert the column at a new location in the list of columns
columns.insert(0, "User-ID")

In [23]:
# Reorder the columns in the dataframe
BX_Books = BX_Books.reindex(columns=columns)

In [24]:
# Verify DataFrame
BX_Books

,User-ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Book-Rating,Location,Age
0,2,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,0,"stockton, california, usa",18.0
1,11400,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,0,"ottawa, ontario, canada",49.0
2,11400,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,9,"ottawa, ontario, canada",49.0
3,11400,0151008116,Life of Pi,Yann Martel,2002,Harcourt,6,"ottawa, ontario, canada",49.0
4,11400,0671021001,She's Come Undone (Oprah's Book Club),Wally Lamb,1998,Pocket,0,"ottawa, ontario, canada",49.0
...,...,...,...,...,...,...,...,...,...
753291,246590,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,6,"madrid, madrid, spain",20.0
753292,259589,087004124X,Anthem,Ayn Rand,1966,Caxton Press,8,"venice, florida, usa",19.0
753293,259591,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,8,"tioga, pennsylvania, usa",39.0
753294,259614,8485900057,Rimas y leyendas (ClÃÂ¡sicos Fraile ; 3),Gustavo Adolfo BÃÂ©cquer,1981,Ediciones Fraile,10,"madrid, madrid, spain",22.0
753295,259679,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,6,"grand prairie, texas, usa",27.0

In [32]:
BX_Books.rename(columns={'User-ID': 'User_ID', 'Location': 'Address', 'Book-Rating': 'Book_Rating', 'Book-Title': 'Book_Title', 'Book-Author': 'Book_Author', 'Year-Of-Publication': 'Year_Of_Publication'}, inplace=True)

In [33]:
BX_Books

,User_ID,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Book_Rating,Address,Age
0,2,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,0,"stockton, california, usa",18.0
1,11400,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,0,"ottawa, ontario, canada",49.0
2,11400,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,9,"ottawa, ontario, canada",49.0
3,11400,0151008116,Life of Pi,Yann Martel,2002,Harcourt,6,"ottawa, ontario, canada",49.0
4,11400,0671021001,She's Come Undone (Oprah's Book Club),Wally Lamb,1998,Pocket,0,"ottawa, ontario, canada",49.0
...,...,...,...,...,...,...,...,...,...
753291,246590,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,6,"madrid, madrid, spain",20.0
753292,259589,087004124X,Anthem,Ayn Rand,1966,Caxton Press,8,"venice, florida, usa",19.0
753293,259591,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,8,"tioga, pennsylvania, usa",39.0
753294,259614,8485900057,Rimas y leyendas (ClÃÂ¡sicos Fraile ; 3),Gustavo Adolfo BÃÂ©cquer,1981,Ediciones Fraile,10,"madrid, madrid, spain",22.0
753295,259679,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,6,"grand prairie, texas, usa",27.0

In [25]:
# Saving df as a DA_fianls csv
BX_Books.to_csv("DA_finals.csv", index=False)