In [1]:
import pandas as pd
import os

In [2]:
file = '/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/book_crossing_files/BX-users.csv'        

# Determine what the character encoding is
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

# Insert sep to seperate data, character encoding, and skip bad lines
books = pd.read_csv(file, sep=";",encoding='ISO-8859-1', on_bad_lines='skip')

In [3]:
# Display DataFrame
books.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [4]:
books.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [5]:
books.size

836574

In [6]:
# Check for duplicates
print(f"Duplicate entries: {books.duplicated().sum()}")

Duplicate entries: 0

In [7]:
for column in books.columns:
    print(f"Column {column} has {books[column].isnull().sum()} null values")

Column User-ID has 0 null values
Column Location has 0 null values
Column Age has 110762 null values