In [1]:
# Initial imports
import pandas as pd
import numpy as np
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Load Data Set
file_path = "/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/CSV/countries_binary_encoded.csv"
encoded_df = pd.read_csv(file_path, low_memory=True)
encoded_df

,Unnamed: 0,Age,Book_Count,Average_Rating,Above_Average,Country_ Algeria,Country_ America,Country_ Andorra,Country_ Angola,Country_ Antigua and Barbuda,...,Country_Philippines,Country_Portugal,Country_Spain,Country_Tobago,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Vietnam,Country_new Zealand,Country_united kingdom
0,37984,34,1,6.00,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,86728,26,5,8.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,68516,29,1,10.00,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,102255,34,2,7.50,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,224993,64,1,5.00,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38695,123047,50,1,8.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
38696,184394,34,1,5.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
38697,21375,69,1,10.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
38698,6238,38,31,8.81,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
38699,57294,39,3,7.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [3]:
# setting user_id as index (Not sure if this is necessary or not)
encoded_df = encoded_df.rename(columns={'Unnamed: 0': ''}).set_index('')
encoded_df

,Age,Book_Count,Average_Rating,Above_Average,Country_ Algeria,Country_ America,Country_ Andorra,Country_ Angola,Country_ Antigua and Barbuda,Country_ Argentina,...,Country_Philippines,Country_Portugal,Country_Spain,Country_Tobago,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Vietnam,Country_new Zealand,Country_united kingdom
,,,,,,,,,,,,,,,,,,,,,
37984,34,1,6.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86728,26,5,8.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68516,29,1,10.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102255,34,2,7.50,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224993,64,1,5.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123047,50,1,8.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
184394,34,1,5.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21375,69,1,10.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6238,38,31,8.81,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
57294,39,3,7.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
encoded_df = encoded_df.drop(columns=['Book_Count'])
encoded_df

,Age,Average_Rating,Above_Average,Country_ Algeria,Country_ America,Country_ Andorra,Country_ Angola,Country_ Antigua and Barbuda,Country_ Argentina,Country_ Aruba,...,Country_Philippines,Country_Portugal,Country_Spain,Country_Tobago,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Vietnam,Country_new Zealand,Country_united kingdom
,,,,,,,,,,,,,,,,,,,,,
37984,34,6.00,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86728,26,8.00,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68516,29,10.00,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102255,34,7.50,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224993,64,5.00,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123047,50,8.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
184394,34,5.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21375,69,10.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6238,38,8.81,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
57294,39,7.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
# Scale Data
data_scaler = StandardScaler()

In [6]:
# Train the scaler and transform the data. 
user_data_scaled = data_scaler.fit_transform(encoded_df)

In [7]:
# Preview the scaled data
user_data_scaled[:5]

array([[-1.54923570e-01, -9.56621124e-01, -4.44006428e-01,
         1.96720614e+02, -5.08335135e-03, -1.24524215e-02,
        -5.08335135e-03, -7.18903731e-03, -4.10172198e-02,
        -5.08335135e-03, -1.82469349e-01, -5.08335135e-03,
        -6.48355085e-02, -7.18903731e-03, -5.08335135e-03,
        -5.08335135e-03, -8.80485034e-03, -4.52274173e-02,
        -5.08335135e-03, -8.80485034e-03, -4.85485675e-02,
        -7.18903731e-03, -1.60768380e-02, -3.00847915e-01,
        -5.08335135e-03, -1.01670968e-02, -5.08335135e-03,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -2.03373472e-02, -2.78531002e-02, -8.80485034e-03,
        -1.34503262e-02, -5.08335135e-03, -7.18903731e-03,
        -1.24524215e-02, -3.05139099e-02, -8.80485034e-03,
        -1.01670968e-02, -1.01670968e-02, -1.52516306e-02,
        -1.24524215e-02, -2.27390211e-02, -5.08335135e-03,
        -5.08335135e-03, -4.31732892e-02, -1.33134198e-01,
        -5.08335135e-03, -5.08335135e-03, -2.55641624e-01,
        -5.08335135e-03, -2.27390211e-02, -8.80485034e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -1.90233546e-02, -1.01670968e-02, -1.60768380e-02,
        -2.78531002e-02, -1.68617478e-02, -2.09635287e-02,
        -4.10172198e-02, -2.73845934e-02, -8.80485034e-03,
        -9.99778142e-02, -5.08335135e-03, -3.41195597e-02,
        -8.80485034e-03, -1.13673067e-02, -5.08335135e-03,
        -1.34503262e-02, -5.08335135e-03, -2.15715719e-02,
        -5.08335135e-03, -5.08335135e-03, -5.60037621e-02,
        -8.80485034e-03, -7.18903731e-03, -3.44970291e-02,
        -7.18903731e-03, -7.18903731e-03, -5.08335135e-03,
        -7.18903731e-03, -5.08335135e-03, -8.80485034e-03,
        -7.91606821e-02, -8.80485034e-03, -3.09352113e-02,
        -5.08335135e-03, -5.08335135e-03, -1.13673067e-02,
        -7.18903731e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.24524215e-02, -4.03802102e-02,
        -2.33008642e-02, -5.08335135e-03, -8.56756046e-02,
        -5.08335135e-03, -5.08335135e-03, -2.87673021e-02,
        -7.18903731e-03, -1.24524215e-02, -4.66397270e-02,
        -1.34503262e-02, -1.90233546e-02, -2.03436384e-01,
        -5.08335135e-03, -3.97330568e-02, -8.79418603e-02,
        -1.24524215e-02, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -1.30726655e+00,
        -5.08335135e-03, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.90233546e-02, -5.08335135e-03,
        -7.18903731e-03, -7.18903731e-03, -8.71927910e-02,
        -5.08335135e-03, -5.08335135e-03, -2.64227460e-02,
        -2.27390211e-02, -2.27390211e-02, -8.80485034e-03,
        -2.31343683e-01, -8.80485034e-03, -5.08335135e-03,
        -1.34503262e-02, -1.90233546e-02, -5.08335135e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -7.18903731e-03, -8.80485034e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -7.18903731e-03, -1.24524215e-02, -5.08335135e-03,
        -4.55133559e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -8.80485034e-03, -1.34503262e-02],
       [-7.35633742e-01,  3.04049052e-01, -4.44006428e-01,
        -5.08335135e-03,  1.96720614e+02, -1.24524215e-02,
        -5.08335135e-03, -7.18903731e-03, -4.10172198e-02,
        -5.08335135e-03, -1.82469349e-01, -5.08335135e-03,
        -6.48355085e-02, -7.18903731e-03, -5.08335135e-03,
        -5.08335135e-03, -8.80485034e-03, -4.52274173e-02,
        -5.08335135e-03, -8.80485034e-03, -4.85485675e-02,
        -7.18903731e-03, -1.60768380e-02, -3.00847915e-01,
        -5.08335135e-03, -1.01670968e-02, -5.08335135e-03,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -2.03373472e-02, -2.78531002e-02, -8.80485034e-03,
        -1.34503262e-02, -5.08335135e-03, -7.18903731e-03,
        -1.24524215e-02, -3.05139099e-02, -8.80485034e-03,
        -1.01670968e-02, -1.01670968e-02, -1.52516306e-02,
        -1.24524215e-02, -2.27390211e-02, -5.08335135e-03,
        -5.08335135e-03, -4.31732892e-02, -1.33134198e-01,
        -5.08335135e-03, -5.08335135e-03, -2.55641624e-01,
        -5.08335135e-03, -2.27390211e-02, -8.80485034e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -1.90233546e-02, -1.01670968e-02, -1.60768380e-02,
        -2.78531002e-02, -1.68617478e-02, -2.09635287e-02,
        -4.10172198e-02, -2.73845934e-02, -8.80485034e-03,
        -9.99778142e-02, -5.08335135e-03, -3.41195597e-02,
        -8.80485034e-03, -1.13673067e-02, -5.08335135e-03,
        -1.34503262e-02, -5.08335135e-03, -2.15715719e-02,
        -5.08335135e-03, -5.08335135e-03, -5.60037621e-02,
        -8.80485034e-03, -7.18903731e-03, -3.44970291e-02,
        -7.18903731e-03, -7.18903731e-03, -5.08335135e-03,
        -7.18903731e-03, -5.08335135e-03, -8.80485034e-03,
        -7.91606821e-02, -8.80485034e-03, -3.09352113e-02,
        -5.08335135e-03, -5.08335135e-03, -1.13673067e-02,
        -7.18903731e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.24524215e-02, -4.03802102e-02,
        -2.33008642e-02, -5.08335135e-03, -8.56756046e-02,
        -5.08335135e-03, -5.08335135e-03, -2.87673021e-02,
        -7.18903731e-03, -1.24524215e-02, -4.66397270e-02,
        -1.34503262e-02, -1.90233546e-02, -2.03436384e-01,
        -5.08335135e-03, -3.97330568e-02, -8.79418603e-02,
        -1.24524215e-02, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -1.30726655e+00,
        -5.08335135e-03, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.90233546e-02, -5.08335135e-03,
        -7.18903731e-03, -7.18903731e-03, -8.71927910e-02,
        -5.08335135e-03, -5.08335135e-03, -2.64227460e-02,
        -2.27390211e-02, -2.27390211e-02, -8.80485034e-03,
        -2.31343683e-01, -8.80485034e-03, -5.08335135e-03,
        -1.34503262e-02, -1.90233546e-02, -5.08335135e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -7.18903731e-03, -8.80485034e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -7.18903731e-03, -1.24524215e-02, -5.08335135e-03,
        -4.55133559e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -8.80485034e-03, -1.34503262e-02],
       [-5.17867428e-01,  1.56471923e+00, -4.44006428e-01,
        -5.08335135e-03, -5.08335135e-03,  8.03056661e+01,
        -5.08335135e-03, -7.18903731e-03, -4.10172198e-02,
        -5.08335135e-03, -1.82469349e-01, -5.08335135e-03,
        -6.48355085e-02, -7.18903731e-03, -5.08335135e-03,
        -5.08335135e-03, -8.80485034e-03, -4.52274173e-02,
        -5.08335135e-03, -8.80485034e-03, -4.85485675e-02,
        -7.18903731e-03, -1.60768380e-02, -3.00847915e-01,
        -5.08335135e-03, -1.01670968e-02, -5.08335135e-03,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -2.03373472e-02, -2.78531002e-02, -8.80485034e-03,
        -1.34503262e-02, -5.08335135e-03, -7.18903731e-03,
        -1.24524215e-02, -3.05139099e-02, -8.80485034e-03,
        -1.01670968e-02, -1.01670968e-02, -1.52516306e-02,
        -1.24524215e-02, -2.27390211e-02, -5.08335135e-03,
        -5.08335135e-03, -4.31732892e-02, -1.33134198e-01,
        -5.08335135e-03, -5.08335135e-03, -2.55641624e-01,
        -5.08335135e-03, -2.27390211e-02, -8.80485034e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -1.90233546e-02, -1.01670968e-02, -1.60768380e-02,
        -2.78531002e-02, -1.68617478e-02, -2.09635287e-02,
        -4.10172198e-02, -2.73845934e-02, -8.80485034e-03,
        -9.99778142e-02, -5.08335135e-03, -3.41195597e-02,
        -8.80485034e-03, -1.13673067e-02, -5.08335135e-03,
        -1.34503262e-02, -5.08335135e-03, -2.15715719e-02,
        -5.08335135e-03, -5.08335135e-03, -5.60037621e-02,
        -8.80485034e-03, -7.18903731e-03, -3.44970291e-02,
        -7.18903731e-03, -7.18903731e-03, -5.08335135e-03,
        -7.18903731e-03, -5.08335135e-03, -8.80485034e-03,
        -7.91606821e-02, -8.80485034e-03, -3.09352113e-02,
        -5.08335135e-03, -5.08335135e-03, -1.13673067e-02,
        -7.18903731e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.24524215e-02, -4.03802102e-02,
        -2.33008642e-02, -5.08335135e-03, -8.56756046e-02,
        -5.08335135e-03, -5.08335135e-03, -2.87673021e-02,
        -7.18903731e-03, -1.24524215e-02, -4.66397270e-02,
        -1.34503262e-02, -1.90233546e-02, -2.03436384e-01,
        -5.08335135e-03, -3.97330568e-02, -8.79418603e-02,
        -1.24524215e-02, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -1.30726655e+00,
        -5.08335135e-03, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.90233546e-02, -5.08335135e-03,
        -7.18903731e-03, -7.18903731e-03, -8.71927910e-02,
        -5.08335135e-03, -5.08335135e-03, -2.64227460e-02,
        -2.27390211e-02, -2.27390211e-02, -8.80485034e-03,
        -2.31343683e-01, -8.80485034e-03, -5.08335135e-03,
        -1.34503262e-02, -1.90233546e-02, -5.08335135e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -7.18903731e-03, -8.80485034e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -7.18903731e-03, -1.24524215e-02, -5.08335135e-03,
        -4.55133559e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -8.80485034e-03, -1.34503262e-02],
       [-1.54923570e-01, -1.11184920e-02, -4.44006428e-01,
        -5.08335135e-03, -5.08335135e-03,  8.03056661e+01,
        -5.08335135e-03, -7.18903731e-03, -4.10172198e-02,
        -5.08335135e-03, -1.82469349e-01, -5.08335135e-03,
        -6.48355085e-02, -7.18903731e-03, -5.08335135e-03,
        -5.08335135e-03, -8.80485034e-03, -4.52274173e-02,
        -5.08335135e-03, -8.80485034e-03, -4.85485675e-02,
        -7.18903731e-03, -1.60768380e-02, -3.00847915e-01,
        -5.08335135e-03, -1.01670968e-02, -5.08335135e-03,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -2.03373472e-02, -2.78531002e-02, -8.80485034e-03,
        -1.34503262e-02, -5.08335135e-03, -7.18903731e-03,
        -1.24524215e-02, -3.05139099e-02, -8.80485034e-03,
        -1.01670968e-02, -1.01670968e-02, -1.52516306e-02,
        -1.24524215e-02, -2.27390211e-02, -5.08335135e-03,
        -5.08335135e-03, -4.31732892e-02, -1.33134198e-01,
        -5.08335135e-03, -5.08335135e-03, -2.55641624e-01,
        -5.08335135e-03, -2.27390211e-02, -8.80485034e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -1.90233546e-02, -1.01670968e-02, -1.60768380e-02,
        -2.78531002e-02, -1.68617478e-02, -2.09635287e-02,
        -4.10172198e-02, -2.73845934e-02, -8.80485034e-03,
        -9.99778142e-02, -5.08335135e-03, -3.41195597e-02,
        -8.80485034e-03, -1.13673067e-02, -5.08335135e-03,
        -1.34503262e-02, -5.08335135e-03, -2.15715719e-02,
        -5.08335135e-03, -5.08335135e-03, -5.60037621e-02,
        -8.80485034e-03, -7.18903731e-03, -3.44970291e-02,
        -7.18903731e-03, -7.18903731e-03, -5.08335135e-03,
        -7.18903731e-03, -5.08335135e-03, -8.80485034e-03,
        -7.91606821e-02, -8.80485034e-03, -3.09352113e-02,
        -5.08335135e-03, -5.08335135e-03, -1.13673067e-02,
        -7.18903731e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.24524215e-02, -4.03802102e-02,
        -2.33008642e-02, -5.08335135e-03, -8.56756046e-02,
        -5.08335135e-03, -5.08335135e-03, -2.87673021e-02,
        -7.18903731e-03, -1.24524215e-02, -4.66397270e-02,
        -1.34503262e-02, -1.90233546e-02, -2.03436384e-01,
        -5.08335135e-03, -3.97330568e-02, -8.79418603e-02,
        -1.24524215e-02, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -1.30726655e+00,
        -5.08335135e-03, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.90233546e-02, -5.08335135e-03,
        -7.18903731e-03, -7.18903731e-03, -8.71927910e-02,
        -5.08335135e-03, -5.08335135e-03, -2.64227460e-02,
        -2.27390211e-02, -2.27390211e-02, -8.80485034e-03,
        -2.31343683e-01, -8.80485034e-03, -5.08335135e-03,
        -1.34503262e-02, -1.90233546e-02, -5.08335135e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -7.18903731e-03, -8.80485034e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -7.18903731e-03, -1.24524215e-02, -5.08335135e-03,
        -4.55133559e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -8.80485034e-03, -1.34503262e-02],
       [ 2.02273957e+00, -1.58695621e+00, -4.44006428e-01,
        -5.08335135e-03, -5.08335135e-03,  8.03056661e+01,
        -5.08335135e-03, -7.18903731e-03, -4.10172198e-02,
        -5.08335135e-03, -1.82469349e-01, -5.08335135e-03,
        -6.48355085e-02, -7.18903731e-03, -5.08335135e-03,
        -5.08335135e-03, -8.80485034e-03, -4.52274173e-02,
        -5.08335135e-03, -8.80485034e-03, -4.85485675e-02,
        -7.18903731e-03, -1.60768380e-02, -3.00847915e-01,
        -5.08335135e-03, -1.01670968e-02, -5.08335135e-03,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -2.03373472e-02, -2.78531002e-02, -8.80485034e-03,
        -1.34503262e-02, -5.08335135e-03, -7.18903731e-03,
        -1.24524215e-02, -3.05139099e-02, -8.80485034e-03,
        -1.01670968e-02, -1.01670968e-02, -1.52516306e-02,
        -1.24524215e-02, -2.27390211e-02, -5.08335135e-03,
        -5.08335135e-03, -4.31732892e-02, -1.33134198e-01,
        -5.08335135e-03, -5.08335135e-03, -2.55641624e-01,
        -5.08335135e-03, -2.27390211e-02, -8.80485034e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -1.90233546e-02, -1.01670968e-02, -1.60768380e-02,
        -2.78531002e-02, -1.68617478e-02, -2.09635287e-02,
        -4.10172198e-02, -2.73845934e-02, -8.80485034e-03,
        -9.99778142e-02, -5.08335135e-03, -3.41195597e-02,
        -8.80485034e-03, -1.13673067e-02, -5.08335135e-03,
        -1.34503262e-02, -5.08335135e-03, -2.15715719e-02,
        -5.08335135e-03, -5.08335135e-03, -5.60037621e-02,
        -8.80485034e-03, -7.18903731e-03, -3.44970291e-02,
        -7.18903731e-03, -7.18903731e-03, -5.08335135e-03,
        -7.18903731e-03, -5.08335135e-03, -8.80485034e-03,
        -7.91606821e-02, -8.80485034e-03, -3.09352113e-02,
        -5.08335135e-03, -5.08335135e-03, -1.13673067e-02,
        -7.18903731e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.24524215e-02, -4.03802102e-02,
        -2.33008642e-02, -5.08335135e-03, -8.56756046e-02,
        -5.08335135e-03, -5.08335135e-03, -2.87673021e-02,
        -7.18903731e-03, -1.24524215e-02, -4.66397270e-02,
        -1.34503262e-02, -1.90233546e-02, -2.03436384e-01,
        -5.08335135e-03, -3.97330568e-02, -8.79418603e-02,
        -1.24524215e-02, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -1.30726655e+00,
        -5.08335135e-03, -5.08335135e-03, -5.08335135e-03,
        -1.13673067e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -7.18903731e-03, -5.08335135e-03,
        -8.80485034e-03, -5.08335135e-03, -5.08335135e-03,
        -5.08335135e-03, -1.90233546e-02, -5.08335135e-03,
        -7.18903731e-03, -7.18903731e-03, -8.71927910e-02,
        -5.08335135e-03, -5.08335135e-03, -2.64227460e-02,
        -2.27390211e-02, -2.27390211e-02, -8.80485034e-03,
        -2.31343683e-01, -8.80485034e-03, -5.08335135e-03,
        -1.34503262e-02, -1.90233546e-02, -5.08335135e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -5.08335135e-03, -7.18903731e-03, -8.80485034e-03,
        -5.08335135e-03, -5.08335135e-03, -7.18903731e-03,
        -7.18903731e-03, -1.24524215e-02, -5.08335135e-03,
        -4.55133559e-02, -5.08335135e-03, -1.13673067e-02,
        -5.08335135e-03, -8.80485034e-03, -1.34503262e-02]])

In [8]:
# Print mean of mean of the first column (age)
print(np.mean(user_data_scaled[:,0]))
print(np.std(user_data_scaled[:,0]))

-1.4688221927857368e-18
1.0

# Prideict if user is an above average or below average reader

In [9]:
# preview df
encoded_df

,Age,Average_Rating,Above_Average,Country_ Algeria,Country_ America,Country_ Andorra,Country_ Angola,Country_ Antigua and Barbuda,Country_ Argentina,Country_ Aruba,...,Country_Philippines,Country_Portugal,Country_Spain,Country_Tobago,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Vietnam,Country_new Zealand,Country_united kingdom
,,,,,,,,,,,,,,,,,,,,,
37984,34,6.00,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86728,26,8.00,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68516,29,10.00,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102255,34,7.50,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224993,64,5.00,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123047,50,8.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
184394,34,5.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21375,69,10.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6238,38,8.81,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
57294,39,7.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
# Define the features set.
X = encoded_df.copy()
X = X.drop("Above_Average", axis=1)
X.head()

,Age,Average_Rating,Country_ Algeria,Country_ America,Country_ Andorra,Country_ Angola,Country_ Antigua and Barbuda,Country_ Argentina,Country_ Aruba,Country_ Australia,...,Country_Philippines,Country_Portugal,Country_Spain,Country_Tobago,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Vietnam,Country_new Zealand,Country_united kingdom
,,,,,,,,,,,,,,,,,,,,,
37984,34,6.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86728,26,8.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68516,29,10.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102255,34,7.5,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224993,64,5.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# Define the target(Above_Average) set.
y = encoded_df["Above_Average"].values
y[:5]

array([0, 0, 0, 0, 0])

## Split the Data into Training and Testing Sets

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

## Scale the Training and Testing Data

In [13]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Make Predictions and Evaluate Results

In [14]:
# Fit the Decision Tree Model
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

## Make Predictions Using the Testing Data

In [15]:
predictions = model.predict(X_test_scaled)

In [16]:
predictions

array([0, 1, 0, ..., 0, 1, 1])

## Evaluate the Model

In [17]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         7897          146
Actual 1          389         1243

In [18]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [19]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         7897          146
Actual 1          389         1243

Accuracy Score : 0.944702842377261
Classification Report
              precision    recall  f1-score   support

           0       0.95      0.98      0.97      8043
           1       0.89      0.76      0.82      1632

    accuracy                           0.94      9675
   macro avg       0.92      0.87      0.90      9675
weighted avg       0.94      0.94      0.94      9675