In [1]:
import os
import pandas as pd
import numpy
from difflib import get_close_matches as gsm

In [2]:
file = '/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/CSV/data_address_split.csv'        

# # Determine what the character encoding is
# import chardet
# with open(file, 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

# Insert sep to seperate data, character encoding, and skip bad lines
book_crossing_df = pd.read_csv(file, sep=",",encoding='ISO-8859-1', on_bad_lines='skip')

In [3]:
# Display DataFrame
book_crossing_df

,User_ID,Age,Address,Book_Rating,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,City,State,Country
0,11400,49.0,"ottawa, ontario, canada",9,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,ottawa,ontario,canada
1,11400,49.0,"ottawa, ontario, canada",6,0151008116,Life of Pi,Yann Martel,2002,Harcourt,ottawa,ontario,canada
2,11400,49.0,"ottawa, ontario, canada",7,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,ottawa,ontario,canada
3,11400,49.0,"ottawa, ontario, canada",7,0316789089,The Pilot's Wife : A Novel Tag: Author of the ...,Anita Shreve,1999,"Little, Brown",ottawa,ontario,canada
4,11400,49.0,"ottawa, ontario, canada",8,0743418174,Good in Bed,Jennifer Weiner,2002,Washington Square Press,ottawa,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...
263003,246590,20.0,"madrid, madrid, spain",6,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,madrid,madrid,spain
263004,259589,19.0,"venice, florida, usa",8,087004124X,Anthem,Ayn Rand,1966,Caxton Press,venice,florida,usa
263005,259591,39.0,"tioga, pennsylvania, usa",8,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,tioga,pennsylvania,usa
263006,259614,22.0,"madrid, madrid, spain",10,8485900057,Rimas y leyendas (ClÃÂÃÂÃÂÃÂ¡sicos Frai...,Gustavo Adolfo BÃÂÃÂÃÂÃÂ©cquer,1981,Ediciones Fraile,madrid,madrid,spain
263007,259679,27.0,"grand prairie, texas, usa",6,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,grand prairie,texas,usa

In [4]:
# Split address column into three
book_crossing_df[['City', 'State', 'Country']] = book_crossing_df['Address'].str.split(',', expand=True, n=2)

book_crossing_df

,User_ID,Age,Address,Book_Rating,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,City,State,Country
0,11400,49.0,"ottawa, ontario, canada",9,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,ottawa,ontario,canada
1,11400,49.0,"ottawa, ontario, canada",6,0151008116,Life of Pi,Yann Martel,2002,Harcourt,ottawa,ontario,canada
2,11400,49.0,"ottawa, ontario, canada",7,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,ottawa,ontario,canada
3,11400,49.0,"ottawa, ontario, canada",7,0316789089,The Pilot's Wife : A Novel Tag: Author of the ...,Anita Shreve,1999,"Little, Brown",ottawa,ontario,canada
4,11400,49.0,"ottawa, ontario, canada",8,0743418174,Good in Bed,Jennifer Weiner,2002,Washington Square Press,ottawa,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...
263003,246590,20.0,"madrid, madrid, spain",6,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,madrid,madrid,spain
263004,259589,19.0,"venice, florida, usa",8,087004124X,Anthem,Ayn Rand,1966,Caxton Press,venice,florida,usa
263005,259591,39.0,"tioga, pennsylvania, usa",8,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,tioga,pennsylvania,usa
263006,259614,22.0,"madrid, madrid, spain",10,8485900057,Rimas y leyendas (ClÃÂÃÂÃÂÃÂ¡sicos Frai...,Gustavo Adolfo BÃÂÃÂÃÂÃÂ©cquer,1981,Ediciones Fraile,madrid,madrid,spain
263007,259679,27.0,"grand prairie, texas, usa",6,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,grand prairie,texas,usa

In [5]:
book_crossing_df = book_crossing_df.drop(columns='Address')
book_crossing_df

,User_ID,Age,Book_Rating,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,City,State,Country
0,11400,49.0,9,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,ottawa,ontario,canada
1,11400,49.0,6,0151008116,Life of Pi,Yann Martel,2002,Harcourt,ottawa,ontario,canada
2,11400,49.0,7,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,ottawa,ontario,canada
3,11400,49.0,7,0316789089,The Pilot's Wife : A Novel Tag: Author of the ...,Anita Shreve,1999,"Little, Brown",ottawa,ontario,canada
4,11400,49.0,8,0743418174,Good in Bed,Jennifer Weiner,2002,Washington Square Press,ottawa,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...
263003,246590,20.0,6,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,madrid,madrid,spain
263004,259589,19.0,8,087004124X,Anthem,Ayn Rand,1966,Caxton Press,venice,florida,usa
263005,259591,39.0,8,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,tioga,pennsylvania,usa
263006,259614,22.0,10,8485900057,Rimas y leyendas (ClÃÂÃÂÃÂÃÂ¡sicos Frai...,Gustavo Adolfo BÃÂÃÂÃÂÃÂ©cquer,1981,Ediciones Fraile,madrid,madrid,spain
263007,259679,27.0,6,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,grand prairie,texas,usa

In [6]:
# Drop Book_Name since ISBN is the same thing
book_crossing_df = book_crossing_df.drop(columns=['City', 'State'])
book_crossing_df

,User_ID,Age,Book_Rating,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Country
0,11400,49.0,9,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,canada
1,11400,49.0,6,0151008116,Life of Pi,Yann Martel,2002,Harcourt,canada
2,11400,49.0,7,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,canada
3,11400,49.0,7,0316789089,The Pilot's Wife : A Novel Tag: Author of the ...,Anita Shreve,1999,"Little, Brown",canada
4,11400,49.0,8,0743418174,Good in Bed,Jennifer Weiner,2002,Washington Square Press,canada
...,...,...,...,...,...,...,...,...,...
263003,246590,20.0,6,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,spain
263004,259589,19.0,8,087004124X,Anthem,Ayn Rand,1966,Caxton Press,usa
263005,259591,39.0,8,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,usa
263006,259614,22.0,10,8485900057,Rimas y leyendas (ClÃÂÃÂÃÂÃÂ¡sicos Frai...,Gustavo Adolfo BÃÂÃÂÃÂÃÂ©cquer,1981,Ediciones Fraile,spain
263007,259679,27.0,6,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,usa

In [7]:
# Inspect countries
print(f"This dataset is used in {book_crossing_df['Country'].unique()} countries")

This dataset is used in [' canada' ' usa' '' ' malaysia' ' finland' ' united kingdom'
 ' netherlands' ' portugal' ' brazil' ' germany' ' austria' ' australia'
 ' france' ' costa rica' ' poland' ' idaho, usa' ' iran' ' spain'
 ' indonesia' ' taiwan' ' singapore' ' argentina' ' india' ' romania'
 ' greece' ' italy' ' england, united kingdom' ' ireland' ' new zealand'
 ' belgium' ' philippines"' ' mexico' ' south africa' ' kansas, usa'
 ' ile de france, france' ' yugoslavia' ' turkey' ' switzerland'
 ' philippines' ' japan' ' illinois, usa' ' china' ' qatar' ' sweden'
 ' kuwait' ' nepal' ' peru' ' cambridgeshire, united kingdom'
 ' north carolina, usa' ' slovakia' ' norway' ' dominican republic'
 ' south korea' ' macedonia' ' kenya' ' mauritius' ' virginia, usa'
 ' catalonia' ' n/a, nigeria' ' madagascar' ' israel' ' egypt' ' denmark'
 ' euskal herria' ' russia' ' new york, georgia, usa' ' far away...'
 ' andorra' ' united state' ' czech republic' ' florida, usa' ' bulgaria'
 ' england' ' everywhere and anywhere' ' new york, usa' ' slovenia'
 ' chile' ' catalunya, spain' ' hong kong' ' michigan, usa'
 ' california, usa' ' luxembourg' ' iceland' ' maryland, usa' ' honduras'
 ' middlesex, united kingdom' ' zambia' ' phillipines' ' new jersey, usa'
 ' belize' ' cyprus' ' ,' ' trinidad and tobago' ' puerto rico'
 ' ohio, usa' ' universe' ' mozambique' ' oregon, usa' ' iceland, iceland'
 ' united states' ' cayman islands' ' bahamas' ' saudi arabia' ' pakistan'
 ' texas, usa' ' canary islands, spain' ' west yorkshire, united kingdom'
 ' tennessee, usa' ' co. carlow, ireland' ' oklahoma, usa' ' barbados'
 ' n/a - on the road' ' indiana, usa' ' alberta, canada' ' saint lucia'
 ' america' ' tanzania' ', malaysia' ' british columbia, canada'
 ' sri lanka' ', portugal' ' hungary' ' cuba' ' deutschland' ' bermuda'
 ' obviously, united kingdom' ', italy' ' pender' ' bahrain' ' dc, usa'
 ' moldova' ' nigeria' ' guernsey' ' jamaica' ' tn, usa' ' ecuador'
 ' north yorkshire, united kingdom' ' singapore, singapore'
 ' andalucia, spain' ' quit' ' venezuela' ' thailand' ' angola'
 ' saskatchewan, canada' ' south dakota, usa' ' west indies, tobago'
 ' afghanistan' ' connecticut, usa' ' oeiras, portugal' ' uruguay'
 ' spain"' ' algeria' ' malta' ' switzerland"' ' u.s.a.' ' turkey"'
 ' paraguay' ' metro manila, philippines' ' new south wales, australia'
 ' italia' ' australia, australia' ' u.k.' ', mexico' ' n/a, spain'
 ' panama' ' queensland, australia' ' n/a, philippines'
 ' pontevedra, galiza, spain' ' ysa' ' oman' ' guatemala' ' wales'
 ' portugal"' ' n/a, united kingdom' ' aberdeenshire, united kingdom'
 ' polk' ' papua new guinea' ' france"' ' grenada' ' colombia' ' monaco'
 ', denmark' ' austin, usa' ' jersey' ' orense' ' tunisia' ' ghana'
 ' n/a, mexico' ' rhode island, usa' ' usa, guam' ' catalunya'
 ', cape verde' ' berlin, germany' ' mongolia' ' missouri, usa'
 ' united arab emirates' ' tonga' ' urugua' ' nevada, usa' ' lebanon'
 ' alachua' ' almerÃ\x83Â\x83Ã\x82Â\xada, spain' ' new zealand"'
 ' colorado, usa' ' vietnam' ' new brunswick, canada'
 ' francisco morazan, honduras' ' croatia' ' newfoundland, canada'
 ' espaÃ\x83Â\x83Ã\x82Â±a' ' Ã\x83Â\x83Ã\x82Â¡lava, spain' ' brunei'
 ' aruba' ' kedah, malaysia' ' otago, new zealand' ' zimbabwe'
 ' tajikistan' ' uk, united kingdom' ' finland"' ' montana, usa'
 ' arkansas, usa' ' lleida' ' travelling...., british columbia, canada'
 ' nottinghamshire, united kingdom' ' berguedÃ\x83Â\x83Ã\x82Â\xa0'
 ' netherlands"' ' lithuania' ' morocco' ' california, united states'
 ' wales, united kingdom' ' antigua and barbuda' ' cherokee'
 ' catalunya spain' ' nz, new zealand' ' nsw, australia' ' galiza'
 ' venezia giulia,italy, italy' ' georgia, usa' ' paris, france'
 ' la france' ' tasmania, australia' ' wisconsin, usa' ' u.a.e'
 ', england' ' victoria, australia' ' norway"' ' \\"n/a\\""'
 ' n/a, new zealand' ' gabon' ' disrito federal, mexico'
 ' gipuzkoa, spain' ' fiji' ' here and there' ' bangladesh'
 ' usa & canada' ' uganda' ' county cork, ireland' ' guinea-bissau'
 ' mexico"' ' denmark"'] countries

In [8]:
# Removing anything before the coutnry in the Country Column
book_crossing_df['Country'] = book_crossing_df['Country'].str.split(',', n=1).str.get(-1)
book_crossing_df

,User_ID,Age,Book_Rating,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher,Country
0,11400,49.0,9,0786868716,The Five People You Meet in Heaven,Mitch Albom,2003,Hyperion,canada
1,11400,49.0,6,0151008116,Life of Pi,Yann Martel,2002,Harcourt,canada
2,11400,49.0,7,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,canada
3,11400,49.0,7,0316789089,The Pilot's Wife : A Novel Tag: Author of the ...,Anita Shreve,1999,"Little, Brown",canada
4,11400,49.0,8,0743418174,Good in Bed,Jennifer Weiner,2002,Washington Square Press,canada
...,...,...,...,...,...,...,...,...,...
263003,246590,20.0,6,8441407487,Sobre La Utilidad y Los Perjuicios de La Historia,Friedrich Wilhelm Nietzsche,2000,Edaf,spain
263004,259589,19.0,8,087004124X,Anthem,Ayn Rand,1966,Caxton Press,usa
263005,259591,39.0,8,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,usa
263006,259614,22.0,10,8485900057,Rimas y leyendas (ClÃÂÃÂÃÂÃÂ¡sicos Frai...,Gustavo Adolfo BÃÂÃÂÃÂÃÂ©cquer,1981,Ediciones Fraile,spain
263007,259679,27.0,6,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,usa

In [9]:
# Check unique countries
print(f"This dataset is used in {book_crossing_df['Country'].unique()} countries")

This dataset is used in [' canada' ' usa' '' ' malaysia' ' finland' ' united kingdom'
 ' netherlands' ' portugal' ' brazil' ' germany' ' austria' ' australia'
 ' france' ' costa rica' ' poland' ' iran' ' spain' ' indonesia' ' taiwan'
 ' singapore' ' argentina' ' india' ' romania' ' greece' ' italy'
 ' ireland' ' new zealand' ' belgium' ' philippines"' ' mexico'
 ' south africa' ' yugoslavia' ' turkey' ' switzerland' ' philippines'
 ' japan' ' china' ' qatar' ' sweden' ' kuwait' ' nepal' ' peru'
 ' slovakia' ' norway' ' dominican republic' ' south korea' ' macedonia'
 ' kenya' ' mauritius' ' catalonia' ' nigeria' ' madagascar' ' israel'
 ' egypt' ' denmark' ' euskal herria' ' russia' ' georgia, usa'
 ' far away...' ' andorra' ' united state' ' czech republic' ' bulgaria'
 ' england' ' everywhere and anywhere' ' slovenia' ' chile' ' hong kong'
 ' luxembourg' ' iceland' ' honduras' ' zambia' ' phillipines' ' belize'
 ' cyprus' ' trinidad and tobago' ' puerto rico' ' universe' ' mozambique'
 ' united states' ' cayman islands' ' bahamas' ' saudi arabia' ' pakistan'
 ' barbados' ' n/a - on the road' ' saint lucia' ' america' ' tanzania'
 ' sri lanka' ' hungary' ' cuba' ' deutschland' ' bermuda' ' pender'
 ' bahrain' ' moldova' ' guernsey' ' jamaica' ' ecuador' ' quit'
 ' venezuela' ' thailand' ' angola' ' tobago' ' afghanistan' ' uruguay'
 ' spain"' ' algeria' ' malta' ' switzerland"' ' u.s.a.' ' turkey"'
 ' paraguay' ' italia' ' u.k.' ' panama' ' galiza, spain' ' ysa' ' oman'
 ' guatemala' ' wales' ' portugal"' ' polk' ' papua new guinea' ' france"'
 ' grenada' ' colombia' ' monaco' ' jersey' ' orense' ' tunisia' ' ghana'
 ' guam' ' catalunya' ' cape verde' ' mongolia' ' united arab emirates'
 ' tonga' ' urugua' ' lebanon' ' alachua' ' new zealand"' ' vietnam'
 ' croatia' ' espaÃ\x83Â\x83Ã\x82Â±a' ' brunei' ' aruba' ' zimbabwe'
 ' tajikistan' ' finland"' ' lleida' ' british columbia, canada'
 ' berguedÃ\x83Â\x83Ã\x82Â\xa0' ' netherlands"' ' lithuania' ' morocco'
 ' antigua and barbuda' ' cherokee' ' catalunya spain' ' galiza'
 'italy, italy' ' la france' ' u.a.e' ' norway"' ' \\"n/a\\""' ' gabon'
 ' fiji' ' here and there' ' bangladesh' ' usa & canada' ' uganda'
 ' guinea-bissau' ' mexico"' ' denmark"'] countries

In [ ]:
# # print dataframe.
# data = {"Countries":["Afghanistan",
# "Albania",
# "Algeria",
# "Andorra",
# "Angola",
# "Antigua",
# "Barbuda",
# "Argentina",
# "Armenia",
# "Australia",
# "Austria",
# "Azerbaijan",
# "Bahamas",
# "Bahrain",
# "Bangladesh",
# "Barbados",
# "Belarus",
# "Belgium",
# "Belize",
# "Benin",
# "Bhutan",
# "Bolivia",
# "Bosnia",
# "Herzegovina",
# "Botswana",
# "Brazil",
# "Brunei",
# "Bulgaria",
# "BurkinaFaso",
# "Burundi",
# "Côte d'Ivoire",
# "Cabo Verde",
# "Cambodia",
# "Cameroon",
# "Canada",
# "Central African Republic",
# "Chad",
# "Chile",
# "China",
# "Colombia",
# "Comoros",
# "Congo",
# "Congo Brazzaville",
# "Costa Rica",
# "Croatia",
# "Cuba",
# "Cyprus",
# "Czechia",
# "Czech Republic",
# "Democratic Republic of the Congo",
# "Denmark",
# "Djibouti",
# "Dominica",
# "Dominican Republic",
# "Ecuador",
# "Egypt",
# "El Salvador",
# "Equatorial Guinea",
# "Eritrea",
# "Estonia",
# "Eswatini",
# "Swaziland",
# "Ethiopia",
# "Fiji",
# "Finland",
# "France",
# "Gabon",
# "Gambia",
# "Georgia",
# "Germany",
# "Ghana",
# "Greece",
# "Grenada",
# "Guatemala",
# "Guinea",
# "Guinea Bissau",
# "Guyana",
# "Haiti",
# "Holy See",
# "Honduras",
# "Hungary",
# "Iceland",
# "India",
# "Indonesia",
# "Iran",
# "Iraq",
# "Ireland",
# "Israel",
# "Italy",
# "Jamaica",
# "Japan",
# "Jordan",
# "Kazakhstan",
# "Kenya",
# "Kiribati",
# "Kuwait",
# "Kyrgyzstan",
# "Laos",
# "Latvia",
# "Lebanon",
# "Lesotho",
# "Liberia",
# "Libya",
# "Liechtenstein",
# "Lithuania",
# "Luxembourg",
# "Madagascar",
# "Malawi",
# "Malaysia",
# "Maldives",
# "Mali",
# "Malta",
# "Marshall Islands",
# "Mauritania",
# "Mauritius",
# "Mexico",
# "Micronesia",
# "Moldova",
# "Monaco",
# "Mongolia",
# "Montenegro",
# "Morocco",
# "Mozambique",
# "Myanmar",
# "Burma",
# "Namibia",
# "Nauru",
# "Nepal",
# "Netherlands",
# "New Zealand",
# "Nicaragua",
# "Niger",
# "Nigeria",
# "North Korea",
# "North Macedonia",
# "Norway",
# "Oman",
# "Pakistan",
# "Palau",
# "Palestine State",
# "Panama",
# "Papua New Guinea",
# "Paraguay",
# "Peru",
# "Philippines",
# "Poland",
# "Portugal",
# "Qatar",
# "Romania",
# "Russia",
# "Rwanda",
# "Saint Kitts",
# "Nevis",
# "Saint Lucia",
# "Saint Vincent",
# "the Grenadines",
# "Samoa",
# "San Marino",
# "Sao Tome",
# "Principe",
# "Saudi Arabia",
# "Senegal",
# "Serbia",
# "Seychelles",
# "Sierra Leone",
# "Singapore",
# "Slovakia",
# "Slovenia",
# "Solomon Islands",
# "Somalia",
# "South Africa",
# "South Korea",
# "South Sudan",
# "Spain",
# "Sri Lanka",
# "Sudan",
# "Suriname",
# "Sweden",
# "Switzerland",
# "Syria",
# "Tajikistan",
# "Tanzania",
# "Thailand",
# "Timor-Leste",
# "Togo",
# "Tonga",
# "Trinidad",
# "Tobago",
# "Tunisia",
# "Turkey",
# "Turkmenistan",
# "Tuvalu",
# "Uganda",
# "Ukraine",
# "United Arab Emirates",
# "United Kingdom",
# "United States of America",
# "Uruguay",
# "Uzbekistan",
# "Vanuatu",
# "Venezuela",
# "Vietnam",
# "Yemen",
# "Zambia",
# "Zimbabwe"]}

# # Create the pandas DataFrame with column name is provided explicitly
# df = pd.DataFrame(data)
# df

In [ ]:
# book_crossing_df['Countries'] = df
# book_crossing_df

In [18]:
book_crossing_df.dtypes

User_ID                  int64
Age                    float64
Country                 object
Book_Rating              int64
ISBN                    object
Book_Author             object
Year_Of_Publication      int64
Publisher               object
dtype: object

In [ ]:
# import nltk
# Country = book_crossing_df["Countries"]
# # Find similier first name using edit distance
# for name in Country:
#     nameToCompare = [x for x in Country if x != name]
#     for n in nameToCompare:
#         print(name, n, nltk.edit_distance(name, n))
#     print('***************')

In [ ]:

book_crossing_df['Close_Matches'] = [', '.join(gsm(df, book_crossing_df.Country)) for df in book_crossing_df.Country]
book_crossing_df

In [ ]:
book_crossing_df

In [10]:
# Drop Book_Name since ISBN is the same thing
book_crossing_df = book_crossing_df.drop(columns='Book_Title')
book_crossing_df

,User_ID,Age,Book_Rating,ISBN,Book_Author,Year_Of_Publication,Publisher,Country
0,11400,49.0,9,0786868716,Mitch Albom,2003,Hyperion,canada
1,11400,49.0,6,0151008116,Yann Martel,2002,Harcourt,canada
2,11400,49.0,7,0312195516,Anita Diamant,1998,Picador USA,canada
3,11400,49.0,7,0316789089,Anita Shreve,1999,"Little, Brown",canada
4,11400,49.0,8,0743418174,Jennifer Weiner,2002,Washington Square Press,canada
...,...,...,...,...,...,...,...,...
263003,246590,20.0,6,8441407487,Friedrich Wilhelm Nietzsche,2000,Edaf,spain
263004,259589,19.0,8,087004124X,Ayn Rand,1966,Caxton Press,usa
263005,259591,39.0,8,158243123X,Elizabeth Hay,2001,Counterpoint Press,usa
263006,259614,22.0,10,8485900057,Gustavo Adolfo BÃÂÃÂÃÂÃÂ©cquer,1981,Ediciones Fraile,spain
263007,259679,27.0,6,0838934854,Michael Gorman,1998,American Library Association,usa

In [11]:
for column in book_crossing_df.columns:
    print(f"Column {column} has {book_crossing_df[column].isnull().sum()} null values")

Column User_ID has 0 null values
Column Age has 0 null values
Column Book_Rating has 0 null values
Column ISBN has 0 null values
Column Book_Author has 0 null values
Column Year_Of_Publication has 0 null values
Column Publisher has 0 null values
Column Country has 0 null values

In [12]:
# Average age
mean_age = book_crossing_df['Age'].mean()
print(f"The average user age is {mean_age}.")

The average user age is 36.74236144908139.

In [13]:
# Average rating
mean_rating = book_crossing_df['Book_Rating'].mean()
print(f"The average book rating is {mean_rating}.")

The average book rating is 7.740361509916048.

In [14]:
# Check for duplicates
print(f"Duplicate entries: {book_crossing_df.duplicated().sum()}")

Duplicate entries: 0

In [15]:
# Print the total number of tradable cryptocurrencies.
print(f"There are {book_crossing_df['User_ID'].unique().size} users")

There are 39538 users

In [16]:
book_crossing_df.dtypes

User_ID                  int64
Age                    float64
Book_Rating              int64
ISBN                    object
Book_Author             object
Year_Of_Publication      int64
Publisher               object
Country                 object
dtype: object

In [17]:
# Reorder columns
column_names = ["User_ID", "Age", "Country", "Book_Rating", "ISBN", "Book_Author", "Year_Of_Publication", "Publisher"]
book_crossing_df = book_crossing_df.reindex(columns=column_names)
book_crossing_df

,User_ID,Age,Country,Book_Rating,ISBN,Book_Author,Year_Of_Publication,Publisher
0,11400,49.0,canada,9,0786868716,Mitch Albom,2003,Hyperion
1,11400,49.0,canada,6,0151008116,Yann Martel,2002,Harcourt
2,11400,49.0,canada,7,0312195516,Anita Diamant,1998,Picador USA
3,11400,49.0,canada,7,0316789089,Anita Shreve,1999,"Little, Brown"
4,11400,49.0,canada,8,0743418174,Jennifer Weiner,2002,Washington Square Press
...,...,...,...,...,...,...,...,...
263003,246590,20.0,spain,6,8441407487,Friedrich Wilhelm Nietzsche,2000,Edaf
263004,259589,19.0,usa,8,087004124X,Ayn Rand,1966,Caxton Press
263005,259591,39.0,usa,8,158243123X,Elizabeth Hay,2001,Counterpoint Press
263006,259614,22.0,spain,10,8485900057,Gustavo Adolfo BÃÂÃÂÃÂÃÂ©cquer,1981,Ediciones Fraile
263007,259679,27.0,usa,6,0838934854,Michael Gorman,1998,American Library Association

In [ ]:
users_df = crypto_df.drop(columns=["IsTrading"]).rename(columns={'Unnamed: 0': ''}).set_index('')

In [ ]:
# Set the output file name
output_data_file = "/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/CSV/02.08.23_clean.csv"
# Export the city_data DataFrame into a CSV file
book_crossing_df.to_csv(output_data_file, index=False)