In [1]:
# Importing Dependencies
import pandas as pd

In [4]:
# Load the CSV file into a pandas dataframe
df = pd.read_csv("Bx_Books/BX-Book-Ratings.csv", delimiter=";", error_bad_lines=False, encoding='ISO-8859-1')

C:\Users\reyne\AppData\Local\Temp\ipykernel_26068\3682505118.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("Bx_Books/BX-Book-Ratings.csv", delimiter=";", error_bad_lines=False, encoding='ISO-8859-1')

In [6]:
# Verify df
df

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [7]:
# Count the number of missing values in each column
null = df.isna().sum()

# Display the null count for each column
print(null)

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [8]:
# Check if there are any duplicates in the DataFrame
duplicates = df.duplicated().sum()

# Display the number of duplicates
print("Number of duplicates:", duplicates)

Number of duplicates: 0

In [9]:
# Save the cleaned data to a new CSV file
df.to_csv("BX_books/Cleaned_BX_Ratings.csv", index=False)