In [1]:
import pandas as pd
import os

In [2]:
file = '/Users/nataliebernal/Desktop/git/Data_Analytics_Final_Project/book_crossing_files/BX-Book-Ratings.csv'        

# Determine what the character encoding is
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

# Insert sep to seperate data, character encoding, and skip bad lines
books = pd.read_csv(file, sep=";",encoding='ISO-8859-1', on_bad_lines='skip')

In [3]:
# Display DataFrame
books.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
books.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [5]:
books.size

3449340

In [6]:
# Check for duplicates
print(f"Duplicate entries: {books.duplicated().sum()}")

Duplicate entries: 0

In [7]:
for column in books.columns:
    print(f"Column {column} has {books[column].isnull().sum()} null values")

Column User-ID has 0 null values
Column ISBN has 0 null values
Column Book-Rating has 0 null values